@import url("./styles.css");


ul{
    list-style:none;
}
h2{
    text-align:center;
}
.flexControlContainer{
    width: 100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.cardBody{
    background:var(--cardBg);
    /* border: 1px solid red; */
    width:70vw;
    margin:0.33em;
    padding:0.15em;
    height:50vh;
    border-radius:0.33em;
    box-shadow:inset var(--overlayBoxShadow);
}

.describe{
    font-family:monospace;
    font-size:14px;
    /* border: 1px solid blue; */
    margin: 1px;
    padding:0.25em;
}

.controllingHeader{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.title{
    font-size: 1.5em;
    margin-top: 0.33em;
    padding: 0.33em;
}
.description{
    text-align:center;
    margin-top:0.7em;
    padding: 0.33em;
}

.description p{
    max-height:9em;
    overflow: auto;
}
.description h3{
margin:0.5em;
}