.leaveMessageModal {
    /* for page centering */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* modal size */
    width: 36em;
    height: 25em;
    /* disign prefrences */
    background: var(--overlay);
    box-shadow: var(--overlayBoxShadow), inset var(--overlayBoxShadow);
    border-radius: 0.66em;
    /* positioning */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    /* additional util */
    padding: 1em;
    backdrop-filter: blur(10px);

}
#leaveMessage h2 {
    margin:0!important;
    padding: 0!important;
    color: var(--textColor);
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height:85%;
}
form div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
form div div {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    width:100%;
}
input {
    width:13em;
    height: 1.75em;
    border-radius: 0.33em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

textarea {
    width: 36em;
    height: 12em;
    /* had to steal this from the browser to uniform it */
    box-sizing: border-box;
    border-style: inset;
    border-width: 1.6px;
    border-color: rgb(118, 118, 118);
    border-radius: 4.4px;
    padding: 0.4em 0.6em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*  Button: Uniform Styling (normal and CTA btn)  */
.personalizedButton{
    width: 10em;
    height: 2.25em;
    border-radius: 1em;
    justify-self: center;
    padding: 0.66em; 
}

.button-uniform {
    width: 7em!important;
    height: 2em!important;
    padding: 0.3em!important;
    margin: 0.3em!important;
    border-radius: 0.66em;
    font-family: var(--fontMain, sans-serif);
    font-size: 1em;
}
.basicButton{
    border: var(--highlightButtonBoarder);
    background: var(--buttonBg);  
    color: var(--buttonText);           
    box-shadow: var(--buttonShadow);    
    text-shadow: var(--buttonTextShadow);
}
.callToActionButton{
    border: 1px solid ivory;
    background: var(--buttonGradient);
    color:var(--personalizedTextShadow);
    box-shadow: inset var(--overlayBoxShadow);
}

.spacingBelowInput {
    margin-bottom: 1em;
}   
.grabbingCursor:hover {
   cursor:grab;
}
.grabbingCursor:active {
   cursor:grabbing;
}
.hidden {
    display: none;
}
.visible{
    visibility: hidden;
}


@media (max-width: 768px){
    .leaveMessageModal {
        width: 18.75em;
        /* height: 25em; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    input {
    width:13em;
    height: 1.75em;
    }
    textarea {
        width: 17em;
        height: 6em;
    }
    form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height:85%;
    }
    form div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center; 
        width: 100%;
    }
    form div div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; 
        align-items: center;
        width:100%;
    }
    .hidden {
    display: none;
}
.visible{
    visibility: hidden;
}
}