@import url("./styles.css");
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}



#messages {
  /* background-color: var(--background-color); */
  width: 100vw;
  padding: 1.25em;
  margin: 1.25em auto;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: var(--box-shadow); */
}

#messages ul {
  list-style-type: none;
  padding: 0.66em;
  margin: 1em 0;
  /* max-width: 30em;
  min-width: 10em; */
  width: 75%;
  /* max-height: 15em;
  min-height: 7.5em; */
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--overlayBoxShadow);
  font: var(--fontMain);
  color: var(--textColor);
  text-shadow: var(--textShadow);
}

#messages ul li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5em;
}

#messages ul li a {
  color: var(--textColor);
  text-decoration: none;
  font-weight: bold;
  font-style: small-caps;
  font-size: 1.5em;
}