:root{
    --primaryColor:rgb(207, 87, 243);
    --primaryLight:rgb(97, 191, 228);

    --textColor: rgb(238, 231, 179);
    --textShadow: 2px 3px 2px rgba(207, 87, 243, 0.645);
    --personalizedTextShadow: 2px 2px 1px rgba(248, 245, 36, 0.83);

    --highlightButtonBoarder: 0.165em solid rgb(207, 87, 243, 0.945);
    --buttonGradient: linear-gradient(
        to bottom left,
          rgb(206, 146, 61) 0,
          rgba(237, 171, 84, 0.855),
          rgba(244, 218, 169, 0.604)100%);
    --buttonBg: radial-gradient(
        circle at center,
         rgb(162, 109, 178),
         rgba(207, 87, 243, 0.714),
         rgba(255, 255, 240, 0.895));
    --buttonText: rgb(238, 231, 179);
    --buttonShadow: inset 0 0 8px rgb(97, 191, 228, 0.4); 
    --buttonTextShadow: 0 0 3px rgba(238, 231, 179, 0.75);

    --backgroundGradient: linear-gradient(
        to bottom right,
            rgb(26, 63, 150),
            rgba(70, 120, 206, 0.9),
            rgba(168, 196, 253, 0.75)
    );
    --overlay: linear-gradient(
        to bottom,
            rgb(110, 204, 248),
            rgba(23, 118, 156, 0.65),
            rgba(12, 140, 172, 0.85)
        
    );
    --overlayBoxShadow: 5px 6px 5px rgba(203, 220, 255, 0.55);
    --cardBg: radial-gradient(
        circle at center,
          rgb(61, 104, 206),
          rgba(112, 143, 209, 0.9),
          rgba(168, 196, 253, 0.75));
    --mobileOverlay:linear-gradient(
        to bottom,
            rgb(110, 204, 248),
            rgba(23, 118, 156),
            rgba(12, 140, 172)
    );
    --mobileBackgroundGradient: linear-gradient(
        to bottom right,
            rgb(26, 63, 150),
            rgba(70, 120, 206)
    );

  --fontMain: 'Open Sans', sans-serif;

}

