*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red; */
}

:root{
    --primaryColor:rgb(207, 87, 243);
    --primaryLight:rgb(97, 191, 228);
    --textColor: rgb(238, 231, 179);
    --textShadow: 2px 3px 3px rgba(185, 241, 95, 0.945);
    --backgroundGradient: linear-gradient(
        to bottom right,
            rgb(26, 63, 150),
            rgba(70, 120, 206, 0.9),
            rgba(168, 196, 253, 0.75)
        
    );
    --overlay: linear-gradient(
        to bottom,
            rgb(110, 204, 248),
            rgba(23, 118, 156, 0.65),
            rgba(12, 140, 172, 0.85)
        
    );
}

body{
    width: 100vw;
    height: 100vh;
    background:var(--backgroundGradient);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:var(--textColor);
    text-shadow:var(--textShadow)
}

.essay-format{
    text-indent: 2em;
    margin-bottom: 1.5em;
    margin-left: 10px;
    padding-left: 1.75em;
}

h1{
    margin:0px 0px 0px 1em;
    color:var(--primaryColor);
}

h2{
     margin:0px 0px 0.5px 1em;
    color:var(--primaryLight);
}

h3{
     margin:0px 0px 0.5px 4em;
    color:var(--primaryLight);
}

ul{
  margin:0px 0px 0.5px 5.5em;
  padding:0.75em;
}

.icons{
    font-size: 60px;
    color: black;
}
a:hover {
    font-size: 70px;
    color: var(--textColor);
}

#connect{
    margin: 2em 0px 4em 0px;
    /* margin-bottom: 2em; */
    padding: 0px 1.5em 0px 1.5em;
    width: 100%;
    height:100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#opening-statement{
    color:var(--primaryColor);
    display: flex;
    justify-content:space-around;
    align-items: center;
    font: italic small-caps bold 2em cursive;
    margin: 2em 0px 2em 0px;
    padding-left: 1em;
    overflow: hidden;
}