@import url("./rootColors.css");
@import url("./navBar.css");

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red; */
}

body{
    width: 100vw;
    height: 100vh;
    background:var(--backgroundGradient);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:var(--textColor);
    text-shadow:var(--textShadow)
}

/*
mobile view
*/
@media (max-width: 376px){
body{
    background:var(--mobileBackgroundGradient);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
}






